<div class="center hero-unit">
  <h1> Flight Reservation System</h1>  
  <h2>
    Search for all available flights online
  </h2>  
  <%= link_to "Search for Flights", search_path, class: "btn btn-large btn-primary" %>
</div>
