<% provide(:title, "Results") %>
<ul>
  <h2>Available Flights</h2>
  <% if @results.count > 0 %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Flight Provider</th>
          <th>From</th>
          <th>To</th>
          <th>Time</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'results' %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-error">
      <p>Sorry. No flights are available...</p>
    </div>
  <% end %>
</ul>

