<ul>
  <h2>Available Flights</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Flight Provider</th>
          <th>From</th>
          <th>To</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <tr>
            <td><%= result.travel_agent%></td>
            <td><%= result.travel_from%></td>
            <td><%= result.travel_to%></td>
            <td><%= result.travel_date.to_date.strftime('%A, %B %d, %Y')%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</ul>

